<md-sidenav-layout>

  <md-sidenav #start (open)="mybutton.focus()">
    Start Sidenav.
    <br>

    <a [routerLink]="['/']" (click)="start.close()">Home</a>
    <a [routerLink]="['/sign-in']" (click)="start.close()">Sign In</a>

    <button md-button #mybutton (click)="start.close()">Close</button>
  </md-sidenav>  
  
  <md-toolbar color="primary">

    <button md-icon-button (click)="start.open()">
      <md-icon class="md-24">menu</md-icon>
    </button>
    <span>My Application Title</span>
  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-layout>